.youshan {
    font-size  : 24px;
    color      : pink;
    font-weight: 400;
}

body {
    position: relative;
}

@ys_color: #FF416C;

.header {
    height             : 80px;
    // background-color: rgb(152, 255, 224);
    color              : @ys_color;
    box-shadow         : 0px 4px 4px rgba(0, 0, 0, 0.1);
    background         : white;
    position           : fixed;
    top                : 0;
    left               : 0;
    z-index            : 10;
    width              : 100%;

    .header_top {
        height                : 80px;
        // background-color   : rgb(0, 247, 247);

        .header_main {
            height: 80px;
            width : 100%;

            .header_left {
                float    : left;
                font-size: 16px;

                .address_list {
                    margin        : 0 10px 0 6px;
                    border        : none;
                    outline       : none;
                    border        : 1px solid #FF416C;
                    border-radius : 4px;
                    font-size     : 16px;
                    padding-bottom: 5px;
                    color         : #FF416C;
                }

                .welcome_text {
                    font-size  : 12px;
                    padding-top: 3px;
                }
            }

            .header_right {
                float: right;

                .login_rigster {
                    margin: 0 50px 0 15px;

                    a {
                        display        : inline-block;
                        font-size      : 16px;
                        text-decoration: none;
                        color          : @ys_color;
                    }
                }

                .car_div {
                    cursor: pointer;

                    .user_car {
                        margin-left: 15px;
                    }

                }
            }

        }
    }

}

.main {
    position: relative;

    .banner {
        position: relative;

        img {
            width: 100%;
        }

        .banner_text {
            position : absolute;
            top      : 0;
            left     : 50%;
            transform: translateX(-50%);
            width    : 100%;
            height   : 100%;
            color    : @ys_color;

            .logo {
                margin-top: 14vw;

                img {
                    width: 32vw;
                }
            }

            .text_one {
                font-style : normal;
                font-weight: bold;
                font-size  : 3.7vw;
                line-height: 5vw;
                margin-top : 1.5vw;
            }

            .text_two {
                font-style : normal;
                font-weight: normal;
                font-size  : 2.5vw;
                line-height: 3.5vw;
                margin-top : .5vw;
            }

            .text_car {
                margin-top      : 2vw;
                width           : 20.5vw;
                height          : 4.5vw;
                background      : linear-gradient(252.68deg, #FF4B2B -1.95%, @ys_color 172.83%);
                box-shadow      : 2px 2px .6vw rgba(255, 65, 108, 0.5);
                border-radius   : 3vw;
                // transform    : matrix(-1, 0, 0, 1, 0, 0);

                ._car {
                    height        : 100%;
                    color         : white;
                    font-style    : normal;
                    font-weight   : bold;
                    font-size     : 1.6vw;
                    line-height   : 2.1vw;
                    letter-spacing: 0.1em;
                    position      : relative;

                    .car_img {
                        width       : 1.6vw;
                        margin-right: 2vw;
                    }

                    .car_num {
                        position     : absolute;
                        top          : -1vw;
                        right        : 0;
                        width        : 2.1vw;
                        height       : 2.1vw;
                        font-size    : 1.3vw;
                        border-radius: 100%;
                        background   : linear-gradient(105.46deg, #FBB245 -1.67%, #FDC767 97.42%);
                    }
                }
            }

            .banner_search {
                margin-top: 2vw;

                .banner_search_div {
                    display         : inline-block;
                    padding         : .6vw;
                    background-color: #ffffff;
                    border-radius   : 100vw;
                    position        : relative;
                    box-shadow      : 4px 4px 1.1vw rgba(0, 0, 0, 0.06);
                }

                .search_img {
                    display : inline-block;
                    width   : 2.4vw;
                    position: relative;
                    top     : .5vw;
                    left    : .5vw;
                    cursor  : pointer;
                }

                .search_input {
                    vertical-align: top;
                    width         : 30vw;
                    border        : none;
                    font-size     : 1.3vw;
                    padding       : .9vw;
                    outline       : none;
                }

                .search_list {
                    vertical-align  : top;
                    border          : none;
                    font-size       : 1.3vw;
                    padding         : 1vw 2.6vw 1vw 0;
                    outline         : none;
                    appearance      : none;
                    color           : @ys_color;
                    position        : relative;
                    border-radius   : 0 2.6vw 2.6vw 0;
                    z-index         : 2;
                    background-color: transparent;
                }

                .list_img {
                    position : absolute;
                    top      : 52%;
                    transform: translateY(-50%);
                    right    : 1.3vw;
                    width    : 1.3vw;
                }
            }
        }

    }

    .menu_bar {
        height       : 88px;
        background   : #FFFFFF;
        box-shadow   : 0px 2px 10px rgba(0, 0, 0, 0.15);
        border-radius: 12px;

        .menu_grop {
            cursor    : pointer;
            // padding: 0 40px;

            .menus {
                display: inline-block;
                width  : 53px;

                img {
                    width: 100%;
                }
            }

            .menus_a {
                font-size      : 16px;
                line-height    : 20px;
                color          : @ys_color;
                text-decoration: none;
                padding        : 0 20px;
            }
        }
    }

    .Menu_grup {
        margin: 70px auto;

        .Menu_title {
            padding       : 20px 0;
            line-height   : 46px;
            font-size     : 36px;
            text-align    : center;
            font-style    : normal;
            font-weight   : bold;
            letter-spacing: 0.2em;
            color         : @ys_color;

        }

        .Menu_main {
            margin: 20px 0;
            width : 100%;

            .container {
                display                 : grid;
                width                   : 100%;
                // background-color     : red;
                grid-template-columns   : repeat(5, 1fr);
                grid-template-rows      : repeat(2, 1fr);
                grid-gap                : 15px;

                .item {
                    @transition_one: all .4s ease-in-out;

                    border-radius: 8px;
                    overflow     : hidden;
                    // &         :hover {
                    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.12);
                    // }
                    position: relative;

                    &:hover img {
                        // transition: all .3s;
                        transform    : scale(1);
                    }

                    &:hover .layer_hover {
                        // transition: all .3s;
                        opacity      : 1;
                        transform    : scale(1);
                    }

                    &:hover .layer_dis {
                        transform: translateY(100%);
                        opacity  : 0;
                    }

                    .layer {
                        transition   : @transition_one;
                        position     : absolute;
                        width        : calc(100% - 8%);
                        height       : calc(100% - 8%);
                        top          : 4%;
                        left         : 4%;
                        padding      : 0 4%;
                        background   : linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
                        opacity      : 1;
                        color        : #fff;
                        border-radius: 8px;

                        .layer_text {
                            position   : absolute;
                            bottom     : 8%;
                            font-size  : 36px;
                            line-height: 46px;

                            .ayer_text_price {
                                letter-spacing: .1em;
                            }


                        }

                        .bnt_grup {
                            .btn_by {
                                background-color: white;
                                color           : @ys_color;
                                padding         : 0 25px;
                                border-radius   : 100px;
                                font-size       : 18px;
                                transition      : @transition_one;
                                cursor          : pointer;

                                &:hover {
                                    background-color: @ys_color;
                                    color           : white;
                                }
                            }

                            .btn_heart {
                                // margin-left      : 8%;
                                width            : 36px;
                                height           : 32px;
                                background-image : url("../images/h_heart.svg");
                                background-repeat: no-repeat;
                                background-size  : cover;
                            }

                        }
                    }

                    .layer_hover {
                        // transition: @transition_one;
                        background   : rgba(0, 0, 0, 0.4);
                        opacity      : 0;
                        transform    : scale(.9);
                    }

                    img {
                        width        : 100%;
                        height       : 100%;
                        border-radius: 8px;
                        transform    : scale(1.1);
                        transition   : @transition_one;
                    }
                }

                .item-one {
                    grid-row-start   : 1;
                    grid-row-end     : 3;
                    grid-column-start: 1;
                    grid-column-end  : 3;
                }

                .item-two {
                    grid-column-start: 3;
                    grid-column-end  : 6;

                    img {
                        // height          : 100%;
                        border-radius      : 8px;
                        // z-index         : 0;
                    }
                }
            }
        }
    }
}