body {
    height: 5000px;
}

.bg {
    background-image: url('../images/product_page/BG.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.top_menu {
    margin-top: 90px;
    height: 1300px;


    .fl_menu {
        width: 144px;
        height: 46px;

        a {
            font-family: 'Microsoft YaHei';
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            line-height: 46px;
            color: #FF416C;
        }
    }

    .fr_menu {
        margin-left: 277px;
        width: 730px;
        height: 46px;

        li {
            margin-left: 25px;
            width: 170px;
            height: 46px;
            background: linear-gradient(255.22deg, #E5E2FA -1.95%, #E3E3E3 172.83%);
            box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
            border-radius: 50px;
            text-align: center;

            a {
                letter-spacing: 0.1em;
                color: #FF416C;
                font-family: 'Microsoft YaHei';
                font-style: normal;
                font-weight: bold;
                font-size: 20px;
                line-height: 46px;

            }
        }
    }

}

.content {
    margin-top: 10px;
    height: 1634px;

    .list {
        display: grid;
        grid-template-columns: repeat(5, 232px);
        grid-template-rows: repeat(4, 370px);
        grid-gap: 30px;

        li {
            background: #FFFFFF;
            box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
            border-radius: 8px;
        }

        .ad {
            grid-column: 1;
            grid-row: 1 / span 5;
            background: #FFFFFF;
            box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.15);
            border-radius: 8px;
            .se1 {
                width: 232px;
                height: 375px;

                img {
                    width: 194px;
                    height: 194px;
                    margin: 20px 9px 0 10px;
                }

                h2 {
                    text-align: center;
                    font-family: 'Microsoft YaHei UI';
                    font-style: normal;
                    font-weight: bold;
                    line-height: 20px;
                    letter-spacing: 0.2em;
                    color: #FF416C;
                    margin-bottom: 11px;
                }

                span {
                    font: 12px/16px 'Microsoft YaHei UI';
                    letter-spacing: 0.1em;
                    color: #333333;
                }

                h3 {
                    margin-top: 15px;
                    font: normal bold 20px/26px 'Microsoft YaHei UI';
                    text-align: left;
                    color: #FF416C;
                    text-align: center;

                }
            }

        }

        .item {
            grid-row: 1 / 2;
            cursor: pointer;
            h2 {
                font: bold 25px/20px 'Microsoft YaHei UI';
                letter-spacing: 0.1em;
                text-align: center;
                color: #FF416C;
                margin-bottom: 12px;
            }

            span{
                font: 15px/16px 'Microsoft YaHei UI';
                letter-spacing: 0.1em;
                color: #333333;
                
            }
            .price{
                font: normal bold 20px/26px 'Microsoft YaHei UI';
                text-align: left;
                color: #FF416C;
                position: relative;
               top: 36px;
               right: -5px;
                              
            }
            .goods_img img {
                margin: 30px;
                width: 180px;
            }
            .chart img{
               position: relative;
               top: 6.5px;
               right: 11px;
            }
            &:hover{
                box-shadow: 0px 4px 8px rgba(255, 65, 108, 0.5);
            }
        }


    }

}