@ys_color: #FF416C;

.user_ban {
    @h        : 80px;
    @h_h      : 2.5vw;
    margin-top: @h ;
    padding   : @h_h 0;

    .user_logo {
        img {
            width: 17vw;
        }
    }

    .user_font {
        border-left: 2px solid;
        margin-left: 2vw;
        padding    : .6vw 0;

        .user_title {
            margin-left: 3vw;
            font-size  : 2vw;
        }
    }

    .user_car {
        position: relative;

        .user_text_car {
            // position            : absolute;
            // top                 : 32.5vw;
            width                  : 18vw;
            height                 : 4vw;
            background             : linear-gradient(252.68deg, #FF4B2B -1.95%, @ys_color 172.83%);
            box-shadow             : 2px 2px .6vw rgba(255, 65, 108, 0.5);
            border-radius          : 3vw;
            color                  : white;
            font-style             : normal;
            font-weight            : bold;
            font-size              : 1.6vw;
            line-height            : 4.5vw;
            letter-spacing         : 0.1em;
            cursor                 : pointer;

            .user_car_img {
                width       : 1.6vw;
                margin-right: 2vw;
            }

            .user_car_num {
                position     : absolute;
                top          : -0.9vw;
                right        : 0;
                width        : 1.9vw;
                height       : 1.9vw;
                font-size    : 1.2vw;
                border-radius: 100%;
                background   : linear-gradient(105.46deg, #FBB245 -1.67%, #FDC767 97.42%);

            }
        }
    }
}

.hrs {
    border-bottom: 2px solid #e5e5e5;
}

.user_content {
    // height : 500px;
    display   : flex;
    margin    : 20px auto;

    // background-color: red;
    .user_meau {
        margin-right : 40px;
        padding      : 40px 10px;
        border-radius: 8px;
        box-shadow   : 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align   : center;

        .user_content_title {
            font-size: 36px;
        }

        .user_hr {
            margin          : 20px 20px 25px;
            height          : 1px;
            background-color: #E3E3E3;


        }

        .user_meau_fonts {
            margin    : 20px;
            text-align: center;

            .user_meau_font {
                cursor       : pointer;
                margin-top   : 20px;
                font-size    : 24px;
                line-height  : 30px;
                box-shadow   : 0 4px 8px rgba(0, 0, 0, 0.1);
                border-radius: 8px;
                transition   : .3s all background;
                width        : 104px;

                .user_link {
                    color          : black;
                    text-decoration: none;
                    display        : block;
                    width          : 100%;
                    padding        : 25px;
                }

                &:hover {
                    background: rgb(251, 80, 114);
                }
            }

            .user_meau_dis {
                box-shadow: 0 0px 8px #FF4268;
            }
        }


    }

    .user_meau_list {
        display      : flex;
        flex         : auto;
        box-shadow   : 4px 4px 20px rgba(0, 0, 0, 0.1);
        border-radius: 8px;

        .tab_style {
            padding: 0 16px;

            .tabs_style {
                text-align: center;

                .foot-grups {

                    .td_style {
                        border: 1px solid #e3e3e3;

                        .del_btn {
                            display: none;
                        }

                        .m_left {
                            margin-left: 40px;
                        }

                        span {
                            line-height: 32px;
                        }

                        .foot-infrmation {
                            .foot-img {
                                width: 106px;

                                img {
                                    width: 100%;
                                }
                            }

                            .foot-font {
                                margin-left: 30px;
                                text-align : left;

                                div {
                                    padding: 10px 0;
                                }
                            }
                        }
                    }

                    &:hover .del_btn {
                        display: block;
                    }

                    .td_top {
                        background-color: #e9ecef;
                    }
                }
            }



            .ont_tr {
                height: 30px;
            }
        }



        .user_list {
            margin : 100px auto 60px;
            display: none;

            .user_list_info_img {
                width                 : 380px;
                height                : 380px;
                border-radius         : 100%;
                // background-color   : red;
                margin-bottom         : 70px;

                .tou_img {
                    width          : 100%;
                    height         : 100%;
                    background     : #f5f5f5 url("../images/08bOYnH_r_E.png") no-repeat center center;
                    background-size: cover;
                    border         : 1px dashed #ccc;
                    border-radius  : 100%;
                }

                .boxsss {
                    width          : 100%;
                    height         : 100%;
                    background     : #f5f5f5 url("../images/08bOYnH_r_E.png") no-repeat center center;
                    background-size: cover;
                    border         : 1px dashed #ccc;
                    border-radius  : 100%;
                    cursor         : pointer;

                    input {
                        width        : 100%;
                        height       : 100%;
                        opacity      : 0;
                        border-radius: 100%;
                    }
                }


                button {
                    display: inline-block;
                    width  : 100px;
                }

            }


            .form_a {
                padding: 20px 0;
            }

            .form-group {
                margin-bottom: 2rem;

                .select_cai {
                    margin-right: 1rem;
                }
            }

            .kouwei_group {
                margin-bottom: 0rem;
            }

            .btn_group_user {
                margin-top: 4rem;
            }

            input {
                border : 0.933526px solid #E3E3E3;
                padding: 5px;
                width  : 280px;
            }

            label {
                min-width : 100px;
                text-align: right;
            }

            .kouwei_div {
                max-width: 280px;

                .isnullspan {
                    line-height: 40px;
                }

                button {
                    position     : relative;
                    margin-right : 20px;
                    margin-bottom: 10px;

                    .del_kouwwei {
                        position        : absolute;
                        width           : 20px;
                        height          : 20px;
                        background-color: red;
                        border-radius   : 100%;
                        top             : -10px;
                        right           : -10px;
                        color           : white;
                    }
                }
            }


            .user_list_info {


                display: none;
            }

            .user_editor_info {
                position: relative;

                .editor_btn {
                    position: absolute;
                    top     : -50px;
                    right   : -200px;
                }

                .form_fonts {
                    width         : 280px;
                    padding-top   : calc(0.375rem + 1px);
                    padding-bottom: calc(0.375rem + 1px);
                    margin-bottom : 0;
                    font-size     : inherit;
                    line-height   : 1.5;
                    text-align    : center;
                }

                // display: none;
            }
        }

        .user_order {
            display: none;
            width  : 100%;

            .navs_flex {
                width: 100%;
            }
        }

        // .user_order {
        //     display: none;
        //     width  : 100%;

        //     .navs_flex {
        //         width: 100%;
        //     }

        //     .m_left {
        //         margin-left: 20px;
        //     }

        //     th {
        //         vertical-align: middle;
        //     }

        //     .table_clebtn {
        //         text-align   : right;
        //         padding-right: 43px;
        //     }

        //     .tabel_grup {
        //         padding: 10px;
        //         border : 2px solid #dee2e6;

        //         .tabel_grup_cle {
        //             margin-right: 3.7%;
        //         }

        //         .tabel_grup_top {
        //             padding-bottom: 10px;
        //             border-bottom : 2px solid #dee2e6;


        //         }

        //         .tabel_grup_bottom {
        //             border    : 2px solid #dee2e6;
        //             border-top: none;
        //         }

        //         .top_check {
        //             margin-left: 7px;
        //         }

        //         .foot-check {

        //             padding: 5px;
        //         }

        //         .foot-infrmation {
        //             // flex: none;
        //             width  : 53%;

        //             .foot-font {
        //                 margin-left: 5%;

        //                 div {
        //                     margin: 20px 0;
        //                 }
        //             }
        //         }

        //         .foot-user {
        //             // flex-grow    : 1;
        //             width           : 12%;
        //             // text-align   : center;
        //         }

        //         .foot-users {
        //             width           : 10%;
        //             // flex-grow    : 1;
        //             text-align      : center;
        //         }
        //     }
        // }

        .user_colletion {
            display: none;
            width  : 100%;
        }

        .order_comment {
            display: none;
            width  : 100%;
            padding: 20px;

            .order_comment_div {
                border : 2px solid #e3e3e3;
                padding: 25px 40px;

                .row_comment {
                    padding       : 15px 0;
                    letter-spacing: 0.1em;

                    .comment_title {
                        font-weight: bold;
                        font-size  : 24px;
                        line-height: 30px;

                    }

                    .comment_desc {

                        font-size  : 20px;
                        line-height: 26px;
                    }

                    .comment_star {
                        display: inline-block;

                        // color: #e3e3e3;
                        .star_s {
                            display            : inline-block;
                            vertical-align     : -4px;
                            height             : 23px;
                            width              : 23px;
                            background-image   : url("../images/users/Star_h.svg");
                            background-repeat  : no-repeat;
                            background-size    : cover;
                            background-position: center;
                            margin-right       : 10px;
                            cursor             : pointer;
                        }

                        .star {
                            background-image: url("../images/users/Star.svg");
                        }

                        .star_h {
                            background-image: url("../images/users/Star.svg");
                        }

                    }

                    .comment_font {
                        border: 2px solid #e3e3e3;
                    }
                }

                .row_two {
                    padding: 10px 0;
                }
            }

        }

        .user_ds {
            display: block;
        }
    }

    .user_coll {
        box-shadow   : 4px 4px 20px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        width        : 100%;
        padding      : 0 15px;

        .user_coll_div {
            width  : 100%;
            display: inline-block;
            margin : 15px 0;
        }

        .user_coll_search {
            border: 2px solid #e3e3e3;


            .form-inline {
                float : right;
                margin: 20px 20px;
            }
        }

        .user_coll_lists {
            .user_coll_list {
                display              : grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows   : repeat(3, 1fr);
                grid-gap             : 15px;

                .coll_item {
                    border            : 2px solid #E3E3E3;
                    border-radius     : 8px;
                    // display        : flex;
                    // justify-content: center;
                    padding           : 10%;
                    position          : relative;
                    cursor            : pointer;

                    .quxiao_coll {
                        display         : block;
                        width           : 30px;
                        height          : 30px;
                        background-color: @ys_color;
                        border-radius   : 50%;
                        position        : absolute;
                        top             : 4%;
                        right           : 5%;
                        color           : white;

                        &::after {
                            display        : flex;
                            justify-content: center;
                            align-items    : center;
                            width          : 100%;
                            height         : 100%;
                            content        : "\2716";
                        }
                    }


                    .del_coll {
                        position: absolute;
                        top     : 4%;
                        right   : 4%;
                    }

                    .coll_item_img {
                        border-radius: 8px;
                        margin-bottom: 13px;

                        img {
                            width        : 100%;
                            border-radius: 8px;
                        }


                    }

                    .coll_item_font {
                        text-align    : center;
                        letter-spacing: 0.1em;
                        font-size     : 16px;
                        padding       : 5px 0;
                        white-space   : nowrap;
                        overflow      : hidden;
                        text-overflow : ellipsis;

                        .btn {
                            margin: 0 5px;
                        }
                    }
                }
            }
        }

    }

    .page-item {
        a {
            color: @ys_color;
        }

    }

    .page-item.active .page-link {
        z-index         : 3;
        color           : #fff;
        background-color: @ys_color;
        border-color    : @ys_color;
    }
}

.box {
    // display: flex;
    margin    : 20px auto;

    .tuijan_font {
        font-size : 38px;
        text-align: center;
        margin    : 40px 0 25px;
    }

    .swiper-slide {
        img {
            margin: 0 auto;
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        color: @ys_color;
    }
}