* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

// body {
//     min-width: 960px;
// }

// 版心大小
.areasize {
    max-width: 1280px;
    margin   : 0 auto;
}

img {
    display: block;
}

//flex
.flex-between-b {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
}

.flex-between-c {
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.flex-between-a {
    display        : flex;
    justify-content: space-around;
    align-items    : center;
}